
@{
    ViewData["Title"] = "AllRecipes";
}

<header class="masthead masthead-admin d-flex justify-content-end">
    <div class="container text-center my-auto">
        <h2 class="mb-1 h2">Admin Panel</h2>
    </div>
</header>

<div class="container mt-md-5">
    <h2>List of all recipes</h2>
</div>
