{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<header class="masthead masthead-admin d-flex justify-content-end">
    <div class="container text-center my-auto">
        <h2 class="mb-1 h2">Admin Panel</h2>
    </div>
</header>

<div class="container mt-md-5">
    <a asp-action="AllProducts"><h2>Products</h2></a>
    <a asp-action="AllContacts"><h2>Contacts</h2></a>
    <a asp-action="AllRecipes"><h2>Recipes</h2></a>
</div>

