@{
    ViewData["Title"] = "News & Events Detail";
}

<header class="masthead NewsDetailImg">
    <div class="col-12 text-left">
        <h1 class="h1" id="detailH1">Verstegen throwbacks: our old cars</h1>
    </div>
    <a class="ct-btn-scroll ct-js-btn-scroll mr-5 mt-5" href="#content">
        <img alt="Arrow Down" class="down-arrow" src="~/images/icons/down-arrow-white.svg">
    </a>
</header>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                <li class="breadcrumb-item"><a href="/Newsandevents">Inspiration</a></li>
                <li class="breadcrumb-item active" aria-current="page">Verstegen throwbacks: our old cars</li>
            </ol>
        </div>
    </div>
</div>
<div class="container-fluid" id="content">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-9 d-flex justify-content-end">
            <div class="home-inner-container d-flex align-items-center">
                <p class="body-text">
                    The food sector is constantly developing, and so is Verstegen.
                    It is for this reason that Verstegen has been a major player since the company was founded in 1886.
                    That is over 130 years of anticipation, creation and inspiration and - above all - providing the best quality.
                    Based on partnership and trust, we work closely with our associates on new trends, demands and products, with consideration for today and tomorrow.
                </p>
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block">
            <img class="float-right img-fluid" src="~/images/home/rozemarijn.jpg" alt="rozemarijn" />
        </div>
    </div>
</div>
<div class="container">
    <div class="col-8 offset-2">
        <div class="row">
            <p class="body-text inspirationP">
                <span style="color: #CD0B35";><strong>19/01/2019</strong></span> - Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean ultricies enim ac risus placerat, sed pretium justo dictum. Sed sed erat efficitur, efficitur quam eu, aliquet velit.
                Sed in erat id nisl tincidunt placerat quis in urna. Nam venenatis suscipit enim, id ultrices tellus egestas et.
                Fusce aliquet laoreet dui, vitae eleifend nisi vehicula non. Suspendisse nec facilisis risus, in feugiat ex.
                Donec a dignissim diam. Nullam vulputate tortor eu sem molestie venenatis. Morbi et ligula libero.
            </p>
            <p class="body-text inspirationP">
                Vivamus magna metus, aliquet ac vulputate eget, maximus eu ex.
                Nullam consectetur lorem at sem tristique, nec facilisis magna hendrerit.
                Nunc venenatis, est et convallis viverra, risus lorem maximus ligula, eu finibus nisl felis non est.
                Donec facilisis, eros et lacinia fringilla, velit justo tempor nunc, nec varius magna felis in tellus.
            </p>
        </div>
        <div class="row my-5">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="https://ak2.picdn.net/shutterstock/videos/10055102/thumb/11.jpg" alt="Plant image">
                <div class="card-body">
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="h5"><strong>Integer posuere erat a ante venenatis dapibus</strong></p>
            <p class="body-text inspirationP">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean ultricies enim ac risus placerat, sed pretium justo dictum. Sed sed erat efficitur, efficitur quam eu, aliquet velit.
                Sed in erat id nisl tincidunt placerat quis in urna. Nam venenatis suscipit enim, id ultrices tellus egestas et.
                Fusce aliquet laoreet dui, vitae eleifend nisi vehicula non. Suspendisse nec facilisis risus, in feugiat ex.
                Donec a dignissim diam. Nullam vulputate tortor eu sem molestie venenatis. Morbi et ligula libero.
            </p>
            <br />
            <p class="body-text">
                <span class="fas fa-arrow-right" style="color: #d00935;"></span> Family-owned business since 1886<br /><br />
                <span class="fas fa-arrow-right" style="color: #d00935;"></span> We work with local farmers to produce the purest herbs and spices<br /><br />
                <span class="fas fa-arrow-right" style="color: #d00935;"></span> We manage every step of the way ourselves, from transport to our in-house grinding and safe food processing
            </p>
        </div>

        <div class="row d-flex align-items-center">
            <div class="body-text m-3">Share this</div>
            <a href="https://www.youtube.com/channel/UCm3nQjm1SwJ2S_HsCs3E_8w">
                <div class="square">
                    <img src="~/images/footer/youtube-logo.svg" alt="YouTube" />
                </div>
            </a>
            <a href="https://www.facebook.com/VerstegenNL">
                <div class="square">
                    <img src="~/images/footer/facebook-logo.svg" alt="Facebook" />
                </div>
            </a>
            <a href="https://twitter.com/verstegen_nl">
                <div class="square">
                    <img src="~/images/footer/twitter-logo.svg" alt="Twitter" />
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="element-title mt-5">
        <h6 class="h6">R e l a t e d n e w s </h6>
        <h2 class="h2">We have more!</h2>
    </div>
    <div class="row text-center">
        <div class="col-12 col-sm-3">
            <img class="spotlightImg img-fluid" src="~/images/Stories/classic-car.jpg" alt="Spices & Herbs" />
            <div class="spotlightTitle">News</div>
            <a href="#">
                <p class="spotlightP text-left">
                    <strong>Verstegen throwbacks: our old cars</strong><br />
                    19/01/2019
                </p>
            </a>
        </div>
        <div class="col-12 col-sm-3">
            <img class="spotlightImg img-fluid" src="~/images/Stories/classic-car.jpg" alt="Ribs" />
            <div class="spotlightTitle">News</div>
            <a href="#">
                <p class="spotlightP text-left">
                    <strong>Verstegen throwbacks: our old cars</strong><br />
                    19/01/2019
                </p>
            </a>
        </div>
        <div class="col-12 col-sm-3">
            <img class="spotlightImg img-fluid" src="~/images/Stories/classic-car.jpg" alt="African Farmer Sausages" />
            <div class="spotlightTitle">News</div>
            <a href="#">
                <p class="spotlightP text-left">
                    <strong>Verstegen throwbacks: our old cars</strong><br />
                    19/01/2019
                </p>
            </a>
        </div>
        <div class="col-12 col-sm-3">
            <img class="spotlightImg img-fluid" src="~/images/Stories/classic-car.jpg" alt="African Farmer Sausages" />
            <div class="spotlightTitle">News</div>
            <a href="#">
                <p class="spotlightP text-left">
                    <strong>Verstegen throwbacks: our old cars</strong><br />
                    19/01/2019
                </p>
            </a>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-md-4">
        <a href="/Newsandevents" class="btn btn-red btn-lg">
            <div class="button-text-white">
                All news <img src="~/images/icons/right-arrow-white.svg" class="icon-arrow-right-white">
            </div>
        </a>
    </div>
</div>