@model Recept
<!-- Header -->
<header class="masthead recipes-masthead d-flex justify-content-end">
    <div class="container text-center my-auto">
        <h1 class="mb-1 h1">@Model.Title</h1>
        <h2 class="mb-1 h2">Recept</h2>
    </div>
</header>

<div class="container">

    <div class="row mt-4">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                <li class="breadcrumb-item"><a href="/Recipes">Recipes</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
            </ol>
        </div>
    </div>

</div>

