@{
    ViewData["Title"] = "Inspiration Detail";
}

<header class="masthead inspirationImg">
    <div class="col-12 text-left">
        <h1 class="h1" id="detailH1">Products are sourced from where they grow</h1>
    </div>
    <a class="ct-btn-scroll ct-js-btn-scroll" href="#content">
    <img alt="Arrow Down" src="https://www.solodev.com/assets/anchor/arrow-down.png"></a>
</header>

<div class="container" id="content">
    <div class="row mt-4">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                <li class="breadcrumb-item"><a href="/Inspiration">Inspiration</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detail</li>
            </ol>
        </div>
    </div>
</div>