@{
    ViewData["Title"] = "Inspiration Detail";
}

<header class="masthead inspirationDetailImg">
    <div class="col-12 text-left">
        <h1 class="h1" id="detailH1">Products are sourced from where they grow</h1>
    </div>
    <a class="ct-btn-scroll ct-js-btn-scroll" href="#content">
        <img alt="Arrow Down" src="https://www.solodev.com/assets/anchor/arrow-down.png">
    </a>
</header>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                <li class="breadcrumb-item"><a href="/Inspiration">Inspiration</a></li>
                <li class="breadcrumb-item active" aria-current="page">Products are sourced from where they grow</li>
            </ol>
        </div>
    </div>
</div>
<div class="container-fluid" id="content">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-9 d-flex justify-content-end">
            <div class="home-inner-container d-flex align-items-center">
                <p class="body-text">
                    The food sector is constantly developing, and so is Verstegen.
                    It is for this reason that Verstegen has been a major player since the company was founded in 1886.
                    That is over 130 years of anticipation, creation and inspiration and - above all - providing the best quality.
                    Based on partnership and trust, we work closely with our associates on new trends, demands and products, with consideration for today and tomorrow.
                </p>
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block">
            <img class="float-right img-fluid" src="~/images/home/rozemarijn.jpg" alt="rozemarijn" />
        </div>
    </div>
</div>
<div class="container">
    <div class="col-8 offset-2">
        <div class="row">
            <p class="body-text inspirationP">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean ultricies enim ac risus placerat, sed pretium justo dictum. Sed sed erat efficitur, efficitur quam eu, aliquet velit.
                Sed in erat id nisl tincidunt placerat quis in urna. Nam venenatis suscipit enim, id ultrices tellus egestas et.
                Fusce aliquet laoreet dui, vitae eleifend nisi vehicula non. Suspendisse nec facilisis risus, in feugiat ex.
                Donec a dignissim diam. Nullam vulputate tortor eu sem molestie venenatis. Morbi et ligula libero.
            </p>
            <p class="body-text inspirationP">
                Vivamus magna metus, aliquet ac vulputate eget, maximus eu ex.
                Nullam consectetur lorem at sem tristique, nec facilisis magna hendrerit.
                Nunc venenatis, est et convallis viverra, risus lorem maximus ligula, eu finibus nisl felis non est. 
                Donec facilisis, eros et lacinia fringilla, velit justo tempor nunc, nec varius magna felis in tellus.
            </p>
        </div>
        <div class="row d-flex align-items-center my-5">
            <div class="col-3">
                <img class="img-fluid rounded float-left" alt="Office guy image" src="https://cambridgesound.com/wp-content/uploads/2017/01/hr-managers.jpg" />
                <img class="img-fluid rounded position-absolute" id="inspirationQuoteIcon" alt="Quote icon" src="~/images/inspiration/two-quotes.svg" />
            </div>
            <div class="col-8 offset-1">
                <p class="body-text inspirationQuote"><em>We  travel around the world to find inspiration for our products</em></p>
                <p class="body-text inspirationP">J. ter Heijde (Innovation team Verstegen)</p>
            </div>
        </div>
        <div class="row">
            <p class="h5"><strong>Integer posuere erat a ante venenatis dapibus</strong></p>
            <p class="body-text inspirationP">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean ultricies enim ac risus placerat, sed pretium justo dictum. Sed sed erat efficitur, efficitur quam eu, aliquet velit.
                Sed in erat id nisl tincidunt placerat quis in urna. Nam venenatis suscipit enim, id ultrices tellus egestas et.
                Fusce aliquet laoreet dui, vitae eleifend nisi vehicula non. Suspendisse nec facilisis risus, in feugiat ex.
                Donec a dignissim diam. Nullam vulputate tortor eu sem molestie venenatis. Morbi et ligula libero.
            </p>
        </div>
        <div class="row my-5">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="https://ak2.picdn.net/shutterstock/videos/10055102/thumb/11.jpg" alt="Plant image">
                <div class="card-body">
                    <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="body-text m-3">Share this</div>
            <a href="https://www.youtube.com/channel/UCm3nQjm1SwJ2S_HsCs3E_8w">
                <div class="square">
                    <img src="~/images/footer/youtube-logo.svg" alt="YouTube" />
                </div>
            </a>
            <a href="https://www.facebook.com/VerstegenNL">
                <div class="square">
                    <img src="~/images/footer/facebook-logo.svg" alt="Facebook" />
                </div>
            </a>
            <a href="https://twitter.com/verstegen_nl">
                <div class="square">
                    <img src="~/images/footer/twitter-logo.svg" alt="Twitter" />
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="element-title mt-5">
        <h6 class="h6">i n s p i r a t i o n</h6>
        <h2 class="h2">Related to this post</h2>
    </div>
    <div class="row text-center">
        <div class="col-12 col-sm-3">
            <img class="spotlightImg img-fluid" src="~/images/home/herbs.jpg" alt="Spices & Herbs" />
            <div class="spotlightTitle">Product</div>
            <a href="#">
                <p class="spotlightP text-left">
                    <strong>Allspice ground</strong><br />
                    Spices & Herbs
                </p>
            </a>
        </div>
        <div class="col-12 col-sm-3">
            <img class="spotlightImg img-fluid" src="~/images/home/ribs.jpg" alt="Ribs" />
            <div class="spotlightTitle">Story</div>
            <a href="#">
                <p class="spotlightP text-left">
                    <strong>"Bio marinades: honest & sustainable"</strong><br />
                    Trend
                </p>
            </a>
        </div>
        <div class="col-12 col-sm-3">
            <img class="spotlightImg img-fluid" src="~/images/home/sausages.jpg" alt="African Farmer Sausages" />
            <div class="spotlightTitle">Recipe</div>
            <a href="#">
                <p class="spotlightP text-left">
                    <strong>African Farmer Sausages</strong><br />
                    Meat
                </p>
            </a>
        </div>
        <div class="col-12 col-sm-3">
            <img class="spotlightImg img-fluid" src="~/images/home/sausages.jpg" alt="African Farmer Sausages" />
            <div class="spotlightTitle">Recipe</div>
            <a href="#">
                <p class="spotlightP text-left">
                    <strong>African Farmer Sausages</strong><br />
                    Meat
                </p>
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-lg btn-red" href="/inspiration" role="button">All inspiration<span class="fas fa-angle-right"></span></a>
    </div>
</div>