@{
    ViewData["Title"] = "Inspiration Theme";
}

<header class="masthead inspirationThemeImg">
    <div class="col-12 text-left">
        <h1 class="h1" id="detailH1">Products are sourced from where they grow</h1>
    </div>
    <a class="ct-btn-scroll ct-js-btn-scroll" href="#content">
        <img alt="Arrow Down" src="https://www.solodev.com/assets/anchor/arrow-down.png">
    </a>
</header>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                <li class="breadcrumb-item"><a href="/Inspiration">Inspiration</a></li>
                <li class="breadcrumb-item active" aria-current="page">Products are sourced from where they grow</li>
            </ol>
        </div>
    </div>
</div>
<div class="container-fluid" id="content">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-9 d-flex justify-content-end">
            <div class="home-inner-container d-flex align-items-center">
                <p class="body-text">
                    The food sector is constantly developing, and so is Verstegen.
                    It is for this reason that Verstegen has been a major player since the company was founded in 1886.
                    That is over 130 years of anticipation, creation and inspiration and - above all - providing the best quality.
                    Based on partnership and trust, we work closely with our associates on new trends, demands and products, with consideration for today and tomorrow.
                </p>
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block">
            <img class="float-right img-fluid" src="~/images/home/rozemarijn.jpg" alt="rozemarijn" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row margin-bottom">
        <div class="col-md-6 mr-5">
            <img class="img-fluid background-image" src="~/images/inspiration/steak.jpg" alt="Field Worker" />
        </div>
        <div class="col-md-5 d-flex align-items-center">
            <div class="usp-block">
                <h6 class="h6">Our products</h6>
                <h2 class="h2">A wide variarity of marinades</h2>
                <p class="body-text">
                   Our expert of the innovation team tells you about it. 
                    Donex ullamcorper nulla non metus auctor fringilla. 
                    Sed posuere consectetur est at lobortis. 
                    Maecenas faucibus mollis interdum. 
                    Sed posuere consectetur est at lobortis.
                </p>
                <button type="button" class="btn btn-red btn-lg">
                    Read more <img src="~/images/icons/right-arrow-white.svg" class="icon-arrow-right-white">
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid green-background">
    <div class="container">
        <div class="row margin-bottom py-6">
            <div class="col-md-6 mr-5">
                <img class="img-fluid background-image" src="~/images/inspiration/chicken.jpg" alt="Field Worker" />
            </div>
            <div class="col-md-5 d-flex align-items-center">
                <div class="green-usp-block">
                    <h6 class="h6">Trend</h6>
                    <h2 class="h2">Enjoy the burgundy trends of 2018</h2>
                    <p class="body-text">
                        Donex ullamcorper nulla non metus auctor fringilla.
                        Sed posuere consectetur est at lobortis.
                        Maecenas faucibus mollis interdum.
                        Sed posuere consectetur est at lobortis.
                    </p>
                    <button type="button" class="btn btn-white btn-lg">
                        Read more <img src="~/images/icons/right-arrow-red.svg" class="icon-arrow-right-green">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>