@{
    ViewData["Title"] = "Home";
}

<!-- Header -->
<header class="masthead d-flex justify-content-end">
    <div class="container text-center my-auto">
        <h1 class="mb-1">Enjoy great taste!</h1>
    </div>
</header>

<div class="row E33-Row-Margin">
    <div class="col-md-9">
        <p class="E33-Text-Margin E33-Text-Layout">
            The food sector is constantly developing, and so is Verstegen.
            It is for this reason that Verstegen has been a major player since the company was founded in 1886.
            That is over 130 years of anticipation, creation and inspiration and - above all - providing the best quality. 
            Based on partnership and trust, we work closely with our associates on new trends, demands and products, with consideration for today and tomorrow.
        </p>
    </div>
    <div class="col-md-3">
        <img class="float-right img-fluid" src="~/images/home/rozemarijn.jpg" alt="rozemarijn" />
    </div>
</div>

<div class="container">
    <div class="categories-title">
        <h6>T h e m e s</h6>
        <h2>Inspiration for special seasons</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4 mt-4">
            <div class="card inspiration-card-2">
                <div class="card-img-block">
                    <img class="img-fluid" src="https://images2.alphacoders.com/661/661074.jpg" alt="Card image cap"/>
                </div>
                <div class="card-body">
                    <img src="https://image.flaticon.com/icons/svg/268/268240.svg" alt="inspiration-image" class="inspiration"/>
                    <a href="#" class="card-title">Easter 2018<span class="fas fa-arrow-right"></span></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mt-4">
            <div class="card inspiration-card-2">
                <div class="card-img-block">
                    <img class="img-fluid" src="https://cdn.hipwallpaper.com/i/80/57/4fDmaU.jpg" alt="Card image cap"/>
                </div>
                <div class="card-body">
                    <img src="https://image.flaticon.com/icons/svg/268/268240.svg" alt="inspiration-image" class="inspiration"/>
                    <a href="#" class="card-title">Easter 2018<span class="fas fa-arrow-right"></span></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mt-4">
            <div class="card inspiration-card-2">
                <div class="card-img-block">
                    <img class="img-fluid" src="http://www.hdnicewallpapers.com/Walls/Big/Food%20and%20Drinks/Christmas_Dinner_on_Holiday_HD_Wallpaper.jpg" alt="Card image cap"/>
                </div>
                <div class="card-body">
                    <img src="https://image.flaticon.com/icons/svg/268/268240.svg" alt="inspiration-image" class="inspiration"/>
                    <a href="#" class="card-title">Easter 2018<span class="fas fa-arrow-right"></span></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mt-4">
            <div class="card inspiration-card-2">
                <div class="card-img-block">
                    <img class="img-fluid" src="https://www.kiss1023.ca/wp-content/blogs.dir/10/files/Holiday_Thanksgiving_Turkey-Dinner-Picture-2012-HD-Wallpaper-1.jpg" alt="Card image cap"/>
                </div>
                <div class="card-body">
                    <img src="https://image.flaticon.com/icons/svg/268/268240.svg" alt="inspiration-image" class="inspiration"/>
                    <a href="#" class="card-title">Easter 2018<span class="fas fa-arrow-right"></span></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mt-4">
            <div class="card inspiration-card-2">
                <div class="card-img-block">
                    <img class="img-fluid" src="https://images5.alphacoders.com/409/409133.jpg" alt="Card image cap"/>
                </div>
                <div class="card-body">
                    <img src="https://image.flaticon.com/icons/svg/268/268240.svg" alt="inspiration-image" class="inspiration"/>
                    <a href="#" class="card-title">Easter 2018<span class="fas fa-arrow-right"></span></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 mt-4 mb-4">
            <div class="card inspiration-card-2">
                <div class="card-img-block">
                    <img class="img-fluid" src="https://ak8.picdn.net/shutterstock/videos/22465798/thumb/1.jpg" alt="Card image cap"/>
                </div>
                <div class="card-body">
                    <img src="https://image.flaticon.com/icons/svg/268/268240.svg" alt="inspiration-image" class="inspiration"/>
                    <a href="#" class="card-title">Easter 2018<span class="fas fa-arrow-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="categories-title">
    <h6> C a t e g o r i e s</h6>
    <h2> Find the best ideas in your branch </h2>
</div>

<div class="categories-row">
    <div class="col-md-4 categories">
        <ul class="category-list">
            <li class="category-item">
                <a class="js-scroll-trigger categories-list-text" href="#">Aardapple, Groente, Fruit <img src="~/images/icons/right-arrow.svg" class="icon-arrow-right"></a>
            </li>
            <li class="category-item">
                <a class="js-scroll-trigger categories-list-text" href="#p">Kant-en-klaar, Salades <img src="~/images/icons/right-arrow.svg" class="icon-arrow-right"></a>
            </li>
            <li class="category-item">
                <a class="js-scroll-trigger categories-list-text" href="#">Vlees, Kip, Vis, Vega <img src="~/images/icons/right-arrow.svg" class="icon-arrow-right"></a>
            </li>
            <li class="category-item">
                <a class="js-scroll-trigger categories-list-text" href="#">Kaas, Vleeswwaren, Delicatessen <img src="~/images/icons/right-arrow.svg" class="icon-arrow-right"></a>
            </li>
            <li class="category-item">
                <a class="js-scroll-trigger categories-list-text" href="#">Zuivel, Eieren <img src="~/images/icons/right-arrow.svg" class="icon-arrow-right"></a>
            </li>
            <li class="category-item">
                <a class="js-scroll-trigger categories-list-text" href="#">Bakkerij <img src="~/images/icons/right-arrow.svg" class="icon-arrow-right"></a>
            </li>
            <li class="category-item">
                <a class="js-scroll-trigger categories-list-text" href="#">Ontbijtgranen, Broodbeleg, Tussendoor <img src="~/images/icons/right-arrow.svg" class="icon-arrow-right"></a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 categories">
        <ul class="category-list">
            <li class="category-item">
                <a class="js-scroll-trigger categories-list-text" href="#p">Frisdrank, Sappen, Koffie, Thee <img src="~/images/icons/right-arrow.svg" class="icon-arrow-right"></a>
            </li>
            <li class="category-item">
                <a class="js-scroll-trigger categories-list-text" href="#p">Bier, Sterke drank, Apperatieven <img src="~/images/icons/right-arrow.svg" class="icon-arrow-right"></a>
            </li>
            <li class="category-item">
                <a class="js-scroll-trigger categories-list-text" href="#">Pasta, Rijst, Internationale keuken <img src="~/images/icons/right-arrow.svg" class="icon-arrow-right"></a>
            </li>
            <li class="category-item">
                <a class="js-scroll-trigger categories-list-text" href="#">Soepen, Conserven, Sauzen, Smaakmakers <img src="~/images/icons/right-arrow.svg" class="icon-arrow-right"></a>
            </li>
            <li class="category-item">
                <a class="js-scroll-trigger categories-list-text" href="#">Snoep, Koek, Chips <img src="~/images/icons/right-arrow.svg" class="icon-arrow-right"></a>
            </li>
            <li class="category-item">
                <a class="js-scroll-trigger categories-list-text" href="#">Diepvries <img src="~/images/icons/right-arrow.svg" class="icon-arrow-right"></a>
            </li>
            <li class="category-item">
                <a class="js-scroll-trigger categories-list-text" href="#">Bewuste voeding <img src="~/images/icons/right-arrow.svg" class="icon-arrow-right"></a>
            </li>
        </ul>
    </div>
</div>
