@{
    ViewData["Title"] = "Home";
}

<!-- Header -->
<header class="masthead d-flex justify-content-end">
    <div class="container text-center my-auto">
        <h1 class="mb-1">How we work</h1>
    </div>
    <div class="overlay"></div>
</header>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>
</div>
