@{
    ViewData["Title"] = "How we work";
}

<!-- Header -->
<header class="masthead d-flex justify-content-end">
    <div class="container text-center my-auto">
        <h1 class="mb-1">How we work</h1>
        <h3 class="mb-1">From crop to plate</h3>
    </div>
    <div class="overlay"></div>
</header>

<div class="white-space">

    <div class="row mt-4">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">How we work</li>
            </ol>
        </div>
    </div>

    <div class="row margin-bottom">
        <div class="col-md-6 mr-5">
            <img class="img-fluid background-image" src="~/images/Stories/field-worker.jpg" alt="Field Worker" />
        </div>
        <div class="col-md-5 E33-Vertical-Align">
            <div class="usp-block">
                <h6>S o u r c e</h6>
                <h2>Products are sourced from where they grow</h2>
                <p>
                    Our expert of the innovation team tells you about it.
                    Donec ullamcorper nulla non metus auctor fringilla. Sed Posuere Consectetur est at lobortis.
                    Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis.
                </p>
                <button type="button" class="btn btn-lg red-color">
                    Read more <img src="~/images/icons/right-arrow-white.svg" class="icon-arrow-right-white">
                </button>
            </div>

        </div>
    </div>

    <div class="row margin-bottom">
        <div class="col-md-5 E33-Vertical-Align">
            <div class="usp-block">
                <h2>We process everything in our own factory</h2>
                <p>
                    Our expert of the innovation team tells you about it.
                    Donec ullamcorper nulla non metus auctor fringilla. Sed Posuere Consectetur est at lobortis.
                    Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis.
                </p>
                <button type="button" class="btn btn-lg red-color">
                    Read more <img src="~/images/icons/right-arrow-white.svg" class="icon-arrow-right-white">
                </button>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <img class="img-fluid background-image" src="~/images/Stories/lab-worker.jpg" alt="Field Worker" />
        </div>
    </div>

</div>

<div class="container-fluid green-usp">
    <div class="green-usp-size">
        <div class="row margin-bottom">
            <div class="col-md-6 mr-5">
                <img class="img-fluid background-image" src="~/images/Stories/chef-worker.jpg" alt="Field Worker" />
            </div>
            <div class="col-md-5 E33-Vertical-Align">
                <div class="green-usp-block">
                    <h6>C u s t o m &nbsp; v s &nbsp; s t a n d a r d</h6>
                    <h2>Standard and custom made products</h2>
                    <p>
                        Our expert of the innovation team tells you about it.
                        Donec ullamcorper nulla non metus auctor fringilla. Sed Posuere Consectetur est at lobortis.
                        Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis.
                    </p>
                    <button type="button" class="btn btn-lg alt-button-colors">
                        Read more <img src="~/images/icons/right-arrow.svg" class="icon-arrow-right-white">
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="white-space">
    <div class="row margin-bottom">
        <div class="col-md-5 E33-Vertical-Align">
            <div class="usp-block">
                <h2>The product is important, but partnership is everything</h2>
                <p>
                    Our expert of the innovation team tells you about it.
                    Donec ullamcorper nulla non metus auctor fringilla. Sed Posuere Consectetur est at lobortis.
                    Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis.
                </p>
                <button type="button" class="btn btn-lg red-color">
                    Read more <img src="~/images/icons/right-arrow-white.svg" class="icon-arrow-right-white">
                </button>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <img class="img-fluid background-image" src="~/images/Stories/hand-seasoning.jpg" alt="Field Worker" />
        </div>
    </div>
</div>

<div class="how-can-we-help">
    <div class="usp-block">
        <h2 class="how-can-we-help-title"> How can we help you? </h2>
    </div>

    <div class="categories-row">
        <div class="col-md-5 categories">
            <h4 class="hww-h4">Contact us</h4>

        </div>
        <div class="col-md-5 categories">
            <h3 class="hww-h4">More about how we work</h3>
            <ul id="accordion" class="accordion-list">
                <li class="card">
                    <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <a href="#"> <strong class="accordion-item">What sources are used?</strong> <img src="" class="card-header-img"></a>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non dignissim neque.
                            Praesent tincidunt ullamcorper ultrices. Aenean sagittis mi ut tortor sollicitudin scelerisque.
                            Sed vel porttitor dolor. Aenean tempus eros.
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                        <a href="#"><strong class="accordion-item">How we ensure fair trade </strong> <img src="" class="card-header-img"></a>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non dignissim neque.
                            Praesent tincidunt ullamcorper ultrices. Aenean sagittis mi ut tortor sollicitudin scelerisque.
                            Sed vel porttitor dolor. Aenean tempus eros.
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                        <a href="#"> <strong class="accordion-item">How we produce organic </strong><img src="" class="card-header-img"></a>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non dignissim neque.
                            Praesent tincidunt ullamcorper ultrices. Aenean sagittis mi ut tortor sollicitudin scelerisque.
                            Sed vel porttitor dolor. Aenean tempus eros.
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                        <a href="#"> <strong class="accordion-item">What is custom made </strong><img src="" class="card-header-img"></a>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non dignissim neque.
                            Praesent tincidunt ullamcorper ultrices. Aenean sagittis mi ut tortor sollicitudin scelerisque.
                            Sed vel porttitor dolor. Aenean tempus eros.
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="card-header" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                        <a href="#"><strong class="accordion-item">What sources are used? </strong><img src="" class="card-header-img"></a>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non dignissim neque.
                            Praesent tincidunt ullamcorper ultrices. Aenean sagittis mi ut tortor sollicitudin scelerisque.
                            Sed vel porttitor dolor. Aenean tempus eros.
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="card-header" id="headingSix" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseOne">
                        <a href="#"> <strong class="accordion-item">How we ensure fair trade </strong><img src="" class="card-header-img"></a>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non dignissim neque.
                            Praesent tincidunt ullamcorper ultrices. Aenean sagittis mi ut tortor sollicitudin scelerisque.
                            Sed vel porttitor dolor. Aenean tempus eros.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

