/* Content.css */



/***********************
  CUSTOM BTN VALUES
************************/

.btn {
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #930D2A !important;
    border-color: #930D2A !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #930D2A;
    color: #ffffff;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        background: #930D2A;
    }

    .btn-primary:active, .btn-primary.active {
        background: #930D2A;
        box-shadow: none;
    }


/***********************
  Inspiration section
************************/

.inspiration-card-2 .card-img-block {
    float: left;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.inspiration-card-2 .card-body {
    position: relative;
    background-color: #e4e4e4;
}

.inspiration-card-2 .inspiration {
    border-radius: 50%;
    position: absolute;
    top: -42px;
    right: -38px;
    max-width: 75px;
    padding: 10px;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    background: #CD0B35;
}

.inspiration-card-2 a {
    text-decoration: none;
    color: #4e4e4e;
}

.inspiration-card-2 .card-title > span {
    margin-left: 5px;
    color: #CD0B35;
}


/***********************
  Categories section
************************/

.icon-arrow-right {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.category-list li {
    list-style-type: none;
    height: 40px;
    width:;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -border-radius: 4px;
    border-radius: 4px;
}

.category-list a {
    color: #4E4E4E;
    text-decoration: none;
    display: block;
    width: inherit;
    height: inherit;
}

.category-list li:nth-child(odd) {
    background: #ECECEC
}

.category-list li:nth-child(even) {
    background: #FFF
}

.categories-title h6 {
    color: #007A51;
    text-align: center;
}

.categories-title h2 {
    color: #4e4e4e;
    text-align: center;
}

.categories-list-text {
    margin-left: 10px;
    text-align: left;
    vertical-align: middle;
}

.categories-row {
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 40px;
}

.categories {
    display: inline-block;
}

.categories-title {
    margin-top: 100px;
}

/***************
  Breadcrumbs 
***************/

.breadcrumb {
    background-color: white;
    padding: 0px;
    margin: 0px;
}

    .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
        content: url("../../images/icons/right-arrow-short.svg");
        width: 17px;
        height: 17px;
    }

    .breadcrumb a {
        color: #cd0b35;
    }


/***************
  How we work 
***************/

.container-fluid {
    padding: 0px;
}

.alt-button-colors {
    background-color: white;
    color: #cd0b35;
}

.background-image {
    width: 775px;
}

.white-space {
    padding-left: 120px;
    padding-right: 120px;
}

.margin-bottom {
    margin-top: 75px;
    margin-bottom: 75px;
}

.green-usp {
    background-color: #536B63;
}

.green-usp-size {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.green-usp-block h6 {
    opacity: 0.9;
    font-size: 1vw;
    color: white;
}

.green-usp-block h2 {
    font-size: 3vw;
    font-weight: bold;
    color: white;
}

.green-usp-block p {
    opacity: 0.6;
    font-size: 1vw;
    color: white;
    padding-top: 4%;
    padding-bottom: 2%;
}

.icon-arrow-right-white {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 5px;
}

.usp-block h6 {
    font-size: 1vw;
    color: #007A51;
}

.usp-block h2 {
    font-size: 3vw;
    font-weight: bold;
    color: #4e4e4e;
}

.usp-block p {
    font-size: 1vw;
    padding-top: 4%;
    padding-bottom: 2%;
    opacity: 0.6;
}

.how-can-we-help-row {
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 40px;
}

.how-can-we-help-title {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
}

.hww-h4 {
    color: #4E4E4E;
    font-weight: bold;
    text-align: left;
}

.accordion-item {
    text-decoration: none;
    color: #4E4E4E;
    width: inherit;
    float: left;
}

.accordion-title img {
    float: right;
}

.plus {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.card-header.active {
    background-color: #CD0B35;
}