/* Content.css */

/***********************
  Global css
************************/

.pt-6,
.py-6 {
    padding-top: 8rem !important;
}

.pr-6,
.px-6 {
    padding-right: 8rem !important;
}

.pb-6,
.py-6 {
    padding-bottom: 8rem !important;
}

.pl-6,
.px-6 {
    padding-left: 8rem !important;
}

.element-title {
    margin-top: 70px !important;
}

.element-title h2 {
    color: #4e4e4e;
    text-align: center;
}

.element-title h6 {
    color: #007A51;
    text-align: center;
}

.h1 {
    font-size: 7.5rem;
    color: #FFFFFF;
}

.h2 {
    font-size: 3.438rem;
    font-weight: bold;
    color: #4E4E4E;
}

.masthead .container .h2 {
    color: #FFFFFF;
    font-weight: 500;
}

.h3 {
    font-size: 1.875rem;
    color: #4E4E4E;
}

.h4 {
    font-size: 1.875rem;
    color: #4E4E4E;
}

.h6 {
    color: #007A51;
}

p.body-text {
    font-size: 1.25rem;
    line-height: 25px;
    font-weight: normal;
    color: #5e5e5e;
}

.green-background {
    background-color: #536B63;
}

.card-body {
    background-color: #e4e4e4;
}

/***********************
  CUSTOM BTN VALUES
************************/

.fa-arrow-r:before {
    content: "\f178" !important;
}

.btn {
}

.btn-red {
    color: #fff;
    background-color: #cd0b35 !important;
    border-color: #cd0b35 !important;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
    color: #fff;
    background-color: #930D2A !important;
    border-color: #930D2A !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none !important;
}

.btn-white {
    color: #cd0b35;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}


.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    color: #848484;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    background-image: url(../../images/icons/right-arrow-green.svg);
}

    .btn-white:hover .icon-arrow-right-green{
        background: url(../../images/icons/right-arrow-green.svg);
    }

/***********************
  Home intro section
************************/

.home-inner-container {
    width: 75%;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #930D2A;
}

.btn-primary:active, .btn-primary.active {
    background: #930D2A;
    box-shadow: none;
}

/***********************
  Inspiration section
************************/

.inspiration-card-2 .card-img-block {
    float: left;
    max-width: 100%;
    height: 150px;
    overflow: hidden;
}

.card-img-block img {
    width: 100%;
    height: auto;
}

.inspiration-card-2 .card-body {
    position: relative;
    background-color: #e4e4e4;
}

.inspiration-card-2 .inspiration {
    border-radius: 50%;
    position: absolute;
    top: -42px;
    right: -38px;
    max-width: 75px;
    padding: 10px;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    background: #CD0B35;
}

.inspiration-card-2 a {
    text-decoration: none;
    color: #4e4e4e;
}

.inspiration-card-2 .card-title > span {
    margin-left: 5px;
    color: #CD0B35;
}


/***********************
  Categories section
************************/
.category-list {
    padding: 0;
}

.icon-arrow-right {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.category-list li {
    list-style-type: none;
    line-height: 42px;
    height: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.category-list a {
    color: #4E4E4E;
    text-decoration: none;
    display: block;
    width: inherit;
    height: inherit;
}

.category-list li:nth-child(odd) {
    background: #ECECEC
}

.category-list li:nth-child(even) {
    background: #FFF
}


.categories-list-text {
    margin-left: 10px;
    text-align: left;
    vertical-align: middle;
}

/***********************
  Spotlight section 
***********************/

.spotlightTitle {
    position: absolute;
    top: 5%;
    left: 10%;
    padding: 2%;
    background: #323031;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
}

.spotlightImg {
    border: 1px solid #ECECEC;
}

.spotlightP {
    padding: 5% 5% 5% 5%;
    background-color: #ECECEC;
    color: #848484;
}

    .spotlightP strong {
        color: #4E4E4E;
    }

/***************
  Breadcrumbs 
***************/

.breadcrumb {
    background-color: white;
    padding: 0px;
    margin: 0px;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: url("../../images/icons/right-arrow-short.svg");
    width: 17px;
    height: 17px;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: url("../../images/icons/right-arrow-short.svg");
    width: 17px;
    height: 17px;
}


.breadcrumb a {
    color: #cd0b35;
}


/***************
  How we work 
***************/

.container-fluid {
    padding: 0px;
}

.background-image {
    width: 775px;
}

.white-space {
    padding-left: 120px;
    padding-right: 120px;
}

.margin-bottom {
    margin-top: 75px;
    margin-bottom: 75px;
}

.green-usp-block h6 {
    color: #ffffff;
}

.green-usp {
    background-color: #536B63;
}

.green-usp-size {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.green-usp-block h6 {
    opacity: 0.9;
    font-size: 1vw;
    color: white;
}

.green-usp-block h2 {
    color: #ffffff;
}

.green-usp-block p {
    color: #ffffff;
    opacity: 0.6;
    font-size: 1vw;
    color: white;
    padding-top: 4%;
    padding-bottom: 2%;
}

.icon-arrow-right-white {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 5px;
}

.icon-arrow-right-green {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 5px;
}

.usp-block h6 {
    font-size: 1vw;
    color: #007A51;
}

.usp-block h2 {
    font-size: 3vw;
    font-weight: bold;
    color: #4e4e4e;
}

.usp-block p {
    font-size: 1vw;
    padding-top: 4%;
    padding-bottom: 2%;
    opacity: 0.6;
}

.how-can-we-help-row {
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 40px;
}

.how-can-we-help-title {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
}

.hww-h4 {
    color: #4E4E4E;
    font-weight: bold;
    text-align: left;
    padding-left: 40px;
}

.accordion-item {
    text-decoration: none;
    color: #4E4E4E;
    width: inherit;
    float: left;
}

.accordion-title img {
    float: right;
}

.plus {
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.accordion-list li:nth-child(odd) .card-header.collapsed {
    background: #ECECEC !important;
}

.accordion-list li:nth-child(even) .card-header.collapsed {
    background: #FFF !important;
}

.card-header.collapsed .card-header-img {
    content: url(../../images/icons/plus-button.svg);
}

.card-header:not(.collapsed) {
    background-color: #CD0B35;
}

.card-header:not(.collapsed) .card-header-img {
    content: url(../../images/icons/minimize.svg);
}

.card-header:not(.collapsed) .accordion-item {
    color: white;
}

.card-header-img {
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.accordion-item-body {
    background-color: #ECECEC;
    color: #848484;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.accordion-card {
    border: none;
}

.contact-bubble {
    position: relative;
    background: #ECECEC;
    border-radius: .4em;
    margin-top: 20px;
    margin-left: 40px;
}

.contact-us {
    height: 45%;
}

.contact-us .row {
    margin-bottom: 30px;
}

.persoon-info {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    clear: left;
}

.persoon-naam {
    font-weight: bold;
}

span {
    clear: left;
}

.persoon-naam {
    margin-top: 35px;
    text-decoration: none;
    color: #4E4E4E;
    float: left;
    clear: left;
}

.persoon-functie {
    text-decoration: none;
    color: #848484;
    font-weight: normal;
    float: left;
}

.accordion-item-body .card-body {
    position: relative;
    border-radius: 10px;
}

.accordion-item-body .card-body:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    left: 30px;
    background: #E4E4E4;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.contact-bubble:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    left: 30px;
    background: #ECECEC;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.phone-card img {
    float: left;
    clear: left;
}

.phone-icon {
    float: left;
    width: 25px;
    margin-top: 12.5px;
}

.phone-number {
    float: left;
    margin-left: 45px;
    margin-top: -23px;
    color: #848484;
}

.phone-card {
    height: 50px;
    margin-bottom: 10px;
}

.email-card {
    height: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.contact-card {
    background-color: #ECECEC;
    border-style: hidden;
    margin-bottom: 25px;
}

.all-contacts {
    margin-left: 40px;
    margin-bottom: 15px;
}

/***************
  T03 INSPIRATION DETAIL
***************/
header.inspirationImg {
    height: 100vh;
    min-height: 500px;
    background: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/lnpNnwy/videoblocks-agricultural-soybean-seeds_swlprdurl_thumbnail-full01.png) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#detailH1 {
    font-size: 6rem;
    padding: 30% 15% 0% 15%;
    color: #FFFFFF;
}

.ct-btn-scroll {
    position: absolute;
    bottom: 50px;
    right: 50px;
    margin: auto;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}
.ct-btn-scroll:hover {
    background-color: #CE0B35;
}

.inspirationP{
    font-size: 1rem !important;
    opacity: 0.7;
}

.inspirationQuote{
    color: #626262 !important;
    font-size: 1.8rem !important;
}

#inspirationQuoteIcon {
    right: 0;
    bottom: 0;
    transform: translate(-31%,-0%);
    background-color: #CC0B37;
    border: 10px solid #CC0B37;
    width: 48px;
}

/***************
  MEDIA QUERIES
***************/
@media (max-width: 767.98px) {
    .h1 {
        font-size: 30px;
    }

    .h2 {
        font-size: 20px;
    }

    .h3 {
        font-size: 15px;
    }

    .h4 {
        font-size: 15px;
    }

    p.body-text {
        font-size: 19px;
    }

    .home-inner-container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    #detailH1 {
        font-size: 5rem;
        padding: 40% 15% 0% 15%;
    }

    .ct-btn-scroll{
        display: none;
    }

    #inspirationQuoteIcon {
        width: 18px;
        transform: translate(-84%,-0%);
        border: 4px solid #CC0B37;
    }
}

@media (min-width: 767.99px) and (max-width: 991px) {
    #inspirationQuoteIcon {
        width: 32px;
        transform: translate(-47%,-0%);
        border: 8px solid #CC0B37;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}

@media only screen and (max-width: 1399px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .persoon-img {
        display: block;
        margin-top: 15px;
        border-radius: 50%;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .persoon-naam {
        margin-left: 25px;
        text-align: center;
    }

    .persoon-functie {
        margin-left: 25px;
        text-align: center;
        margin-bottom: 25px;
    }

    .email-card {
        height: 50px;
        margin-bottom: 10px;
        margin-left: 8.333333%;
    }
}

@media (min-width: 1400px) {
    .persoon-naam {
        margin-top: 35px;
        color: #4E4E4E;
        float: left;
        clear: left;
    }

    .persoon-functie {
        text-decoration: none;
        color: #848484;
        font-weight: normal;
        float: left;
    }

    .persoon-img {
        margin-top: 15px;
        margin-left: 25px;
        border-radius: 50%;
        width: 100px;
    }
}