/* css file for Text and Image */
*{
    border: 1px solid red;
}

.nopadding {
    padding: 0px !important;
}

.E33-Text-Margin{
    margin-left:300px;
}

.E33-Row-Margin {
    margin-top: 50px;
    margin-bottom: 50px;
}

.E33-Vertical-Align {
    align-items:center;
    display:flex;
}

.E33-Text-Layout{
    font-family:Arial;
    font-size:32px;
}

