/* css file for Text and Image */
.E33-Text-Margin{
    margin-left:20%;
}

.E33-Row-Margin {
    margin-top: 50px;
    margin-bottom: 50px;
}

.E33-Text-Layout{
    font-family:Arial;
    font-size:26px;
}

.E33-Vertical-Align {
    display: flex;
    align-items: center;
}

.spotlightTitle{
    position: absolute;
    top: 5%;
    left: 10%;
    padding: 2%;
    background: #323031;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
}

.spotlightImg{
    border: 1px solid #ECECEC;
}

.spotlightP {
    padding: 5% 5% 5% 5%;
    background-color: #ECECEC;
}