/* css file for Text and Image */

.E33-Text-Margin{
    margin-left:20%;
}

.E33-Row-Margin {
    margin-top: 50px;
    margin-bottom: 50px;
}

.E33-Text-Layout{
    font-family:Arial;
    font-size:32px;
}

