
/* Footer.css */

.main-color {
    background-color: #495e57;
}

.secondary-color {
    background-color: #546b63;
}

.red-color {
    background-color: #cd0b35;
    color: #ffffff;
}

#footer-text-color-1 h4 {
    color: #87a198;
}

#newsletter-text {
    font-style: italic;
}

h3 {
    color: white;
}

h4 {
    padding-top: 10px;
    color: white;
}

h5 {
    color: #e4f3ee;
}

.category {
    display: inline-block;
    background: #ccc;
    margin: 1px;
}

.category img {
    width: 75px;
    height: 75px;
}

.square {
    border-radius: 5px;
    margin-left:2px;
    height: 50px;
    width: 50px;
    background-color: #ce0b35;
}

.square > img {
    height: 25px;
    width: 25px;
    margin-top: 25%;
    margin-left: 25%;
}
